# Local ignores
.venv
.idea
.env

# Terraform Ignores
**/tf.plan
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/.terraform.tfstate.lock.info
resources/pab-policies/**

__pycache__/